/* Custom props */
:root {
  --blue: #5267df;
  --red: #fa5959;
  --text-color: #242a45;
  --text-color-75: #242a45bf; 
  --text-color-50: #242a4580; 
}


/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap);


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  background-color: #fff;
  color: var(--text-color-50);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* Button */
.button {
  display: inline-block;
  padding: 8px 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  line-height: 2;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.button:active {
  opacity: .6;
}

.button--red {
  border-color: var(--red);
  background-color: var(--red);
  color: #fff;
}

.button--red:hover {
  background-color: #fff;
  color: var(--red);
}

.button--site-header {
  padding: 10px 31px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}

.button--blue {
  border-color: var(--blue);
  background-color: var(--blue);
  color: #fff;
}

.button--blue:hover {
  background-color: #fff;
  color: var(--blue);
}

.button--grey {
  border-color: #f7f7f7;
  background-color: #f7f7f7;
  color: var(--text-color);
}

.button--grey:hover {
  border-color: #5B6074;
  background-color: #fff;
}

.button--block {
  display: block;
  width: 100%;
}


/* Logo */
.logo {
  display: block;
  text-decoration: none;
  transform: opacity .3s ease;
}

.logo:hover {
  opacity: .8;
}

.logo:active {
  opacity: .8;
}

.logo__img {
  display: block;
  width: 149px;
  height: 25px;
  object-fit: contain;
}


/* Sitenav */
.sitenav {
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 48px;
}

.sitenav__link {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  transition: color .3s ease,
              opacity .3s ease;
}

.sitenav__link:hover {
  color: var(--red);
}

.sitenav__link:active {
  opacity: .6;
}


/* Section */
.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section__info {
  width: 100%;
  max-width: 540px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  text-align: center;
}

.section__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  color: var(--text-color);
}

.section__description {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}


/* Feature-Tab-Panel */
.feature-tab-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-tab-panel__img {
  margin-right: 30px;
  object-fit: contain;
}

.feature-tab-panel__info {
  max-width: 445px;
}

.feature-tab-panel__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px; 
  line-height: 52px;
  color: var(--text-color);
}

.feature-tab-panel__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;  
}


/* Tabs */
.tabs__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs__item {
  width: 243px;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);

}

.tabs__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: 4px solid transparent;
  color: var(--text-color-75);
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  transition: color .3s ease;
  letter-spacing: 0.5px;
}

.tabs__item-active .tabs__link {
  color: var(--text-color);
  border-bottom-color: var(--red);
}
 
.tabs__link:hover {
  color: var(--red);
}

.tabs__panels {
  padding-top: 75px;
  padding-bottom: 165px;
  background-image: url("../img/blue-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 580px) 156px;
}

.tabs__panel {
  display: none;
}

.tabs__panel--active {
  display: block;
}


/* Site Header */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  text-transform: uppercase;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  margin-right: auto;
}

.site-header-sitenav {
  margin-right: 48px;
}


/* Hero */
.hero {
  padding-top: 66px;
  padding-bottom: 105px;
  background-image: url("../img/blue-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 705px) 200px;
}

.hero__container {
  display: flex;
  align-items: flex-start;

}

.hero__content {
  flex-shrink: 0;
  width: 100%;
  max-width: 540px;
  padding-top: 66px;
  margin-right: 65px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 52px;
  font-weight: 600;
  color: var(--text-color);
}

.hero__desc {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;

}

.hero__actions {
  display: flex;
}

.hero__actions-item:not(:last-child) {
  margin-right: 16px;
}

.hero__img {
  flex-shrink: 0;
  width: 578px;
  height: 385px;
  overflow: hidden;
  object-fit: contain;
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.5));
}


/* Features */
.features__section-info {
  margin-bottom: 40px;
}




@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
